* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #FF7C00;
}

.container {
  height: 520px;
  background: #FF7C00;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-bottom: 10px double #fbfffe;
}

.content {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  height: 100%;
}

h1 {
  color: #fbfffe;
  font-weight: bold;
  text-align: center;
}

.content p {
  color: #fbfffe;
  font-weight: bold;
  text-align: center;
  font-family: "Satisfy", cursive;
}

.avatar {
  display: block;
  margin: 20px auto 10px;
  z-index: 4;
  object-fit: cover;
  border: 10px double #fbfffe;
  padding: 15px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  background: url(waves.png) center bottom no-repeat;
  animation: 5s wave ease-in-out infinite alternate;
}

.waves {
  position: absolute;
  /*      left: 0;
      right: 0;
      height: 200px;
      bottom: 0;*/
  bottom: -135px;
  height: 527px;
  width: 100%;
  overflow: hidden;
}

.wave {
  position: absolute;
  left: -180px;
  bottom: 0;
  /*width: 200px;*/
  /*height: 200px;*/
  /*width: 100%;*/
  /*border-radius: 50%;*/
  /*background:rgba(0,0,0, .3);*/
  width: 2402px;
  height: 427px;
  background: url(waves.png) center bottom no-repeat;
  animation: 5s wave ease-in-out infinite alternate;
}

.wave.a {
  background-position: 0 -854px;
}

.wave.b {
  background-position: 0 -427px;
  animation-delay: 0.6s;
}

.wave.c {
  background-position: 0 0;
  animation-delay: 1.2s;
}

/*.container {
  position: absolute;
}*/
@keyframes wave {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-80px, 30px);
  }
  100% {
    transform: translate(160px, -60px);
  }
}
.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  width: 70%;
  grid-gap: 10px;
  margin: auto;
}

.main .left {
  padding: 20px;
}

.main .right {
  padding: 20px;
}

h2 {
  text-transform: uppercase;
  color: #fbfffe;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  color: #fbfffe;
  text-align: justify;
  margin-left: 35px;
}

ul li {
  color: #fbfffe;
  text-align: justify;
}

h3 {
  color: #fbfffe;
  margin-top: 10px;
  margin-left: 35px;
  font-size: 1.2em;
}

.main .right ul {
  padding-left: 60px;
}

.main .right ul li a {
  text-decoration: none;
  color: #fbfffe;
  line-height: 30px;
}

.main a {
  text-decoration: none;
  color: #fbfffe;
  line-height: 30px;
  margin-left: 0px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1em;
  }

  .avatar {
    width: 150px;
    height: 150px;
  }

  .container {
    height: 380px;
  }

  .main {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 425px) {
  .main {
    padding: 10px;
    margin: 0px 15px 0px -10px;
  }

  h2 {
    font-size: 1em;
  }
}
@media screen and (max-width: 320px) {
  h1 {
    font-size: 0.8em;
  }

  h2 {
    font-size: 3em;
  }

  .content p {
    font-size: 0.8em;
    margin-left: 10px;
  }

  .main {
    width: 95%;
    margin: auto;
  }

  .main .left {
    padding: 5px;
    margin: 5px;
    width: 270px;
  }

  .main p {
    margin-left: 5px;
  }

  h2 {
    font-size: 1em;
  }
}